## GROUP # 18
## PREDICTING THE MIDTERM ELECTION

### **SCRIPT - State Initial Cleaning and Aggregation**
*Michael Lee, Micah Nickerson, Daniel Olal*

# DEMOGRAPHICS BY STATE AND DISTRICT

In [1]:
import os
import glob

import numpy as np
import pandas as pd

In [2]:
demograhics_df = pd.read_csv("data/demographics_by_district.csv", index_col=0, encoding='utf-8-sig')
demograhics_labels = demograhics_df.iloc[[0,1,2],:] #get labels index

demographics_year = demograhics_df.iloc[3:,0] # get year 
demographics_year = demographics_year.astype('int') #specify data types of data set 

demographics_state_labels = demograhics_df.iloc[3:,1] # get state labels
demographics_state_labels = demographics_state_labels.astype('str') #specify data types of data set 

demographics_district_num = demograhics_df.iloc[3:,2] # get district number
demographics_district_num = demographics_district_num.astype('int') #specify data types of data set 

demograhics_subframe = demograhics_df.iloc[3:,3:] #get data set 
demograhics_subframe = demograhics_subframe.astype('float') #specify data types of data set 
    
demograhics_df = pd.concat([demographics_year, demographics_state_labels, demographics_district_num, demograhics_subframe], axis=1, ignore_index=True)

In [3]:
display(demograhics_labels)
display(demograhics_df)
display(demograhics_df.describe())

,0,1,2,3,4,5,6,7,8,9,...,297,298,299,300,301,302,303,304,305,306
Topic,Year,State,District,People,People,People,People,People,People,People,...,Business,Business,Business,Business,Business,Business,Business,Business,Business,Business
Subject,Election Year,State Code,District Number,Sex and Age,Sex and Age,Sex and Age,Sex and Age,Sex and Age,Sex and Age,Sex and Age,...,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments
Title,Election Year,State Abbreviation,Congressional District Number,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,...,Real estate and rental and leasing,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste managemen...,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified

,0,1,2,3,4,5,6,7,8,9,...,297,298,299,300,301,302,303,304,305,306
District 01 Estimate,2018,AL,1,715346.0,344543.0,370803.0,40891.0,38836.0,52357.0,49123.0,...,846.0,1420.0,111.0,749.0,144.0,1427.0,198.0,1331.0,1663.0,21.0
District 02 Estimate,2018,AL,2,678122.0,326346.0,351776.0,42217.0,39603.0,44011.0,43990.0,...,561.0,1249.0,85.0,578.0,131.0,1538.0,159.0,1347.0,1673.0,29.0
District 03 Estimate,2018,AL,3,708409.0,345941.0,362468.0,40153.0,42841.0,46658.0,48023.0,...,462.0,853.0,47.0,521.0,89.0,1142.0,94.0,1186.0,1402.0,21.0
District 04 Estimate,2018,AL,4,686297.0,336349.0,349948.0,42358.0,39902.0,48055.0,43135.0,...,385.0,808.0,76.0,401.0,58.0,1548.0,135.0,1060.0,1440.0,30.0
District 05 Estimate,2018,AL,5,725634.0,359028.0,366606.0,40325.0,44782.0,44853.0,48079.0,...,700.0,1964.0,73.0,702.0,150.0,1833.0,173.0,1331.0,1540.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
District 05 Estimate,2018,WI,5,731341.0,358554.0,372787.0,40947.0,41314.0,45113.0,45904.0,...,735.0,2074.0,209.0,1225.0,266.0,2580.0,374.0,1671.0,1950.0,26.0
District 06 Estimate,2018,WI,6,714886.0,361506.0,353380.0,37751.0,41286.0,43372.0,44003.0,...,488.0,1158.0,132.0,754.0,176.0,1959.0,352.0,1685.0,1870.0,26.0
District 07 Estimate,2018,WI,7,710420.0,357492.0,352928.0,37360.0,39801.0,46629.0,41381.0,...,552.0,1162.0,74.0,764.0,138.0,1899.0,406.0,2324.0,1996.0,39.0
District 08 Estimate,2018,WI,8,735997.0,367530.0,368467.0,42887.0,47221.0,47153.0,45721.0,...,529.0,1259.0,151.0,875.0,194.0,1848.0,380.0,1987.0,1845.0,20.0
District (At Large) Estimate,2018,WY,1,577737.0,292619.0,285118.0,35395.0,34937.0,40645.0,40744.0,...,1176.0,2286.0,102.0,1043.0,185.0,1968.0,443.0,1812.0,1826.0,68.0

,0,2,3,4,5,6,7,8,9,10,...,297,298,299,300,301,302,303,304,305,306
count,436.0,436.000000,4.360000e+02,436.000000,436.000000,436.000000,436.000000,436.000000,436.000000,436.000000,...,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,2018.0,10.153670,7.503840e+05,369537.043578,380846.990826,45060.355505,45426.376147,49066.334862,49186.910550,49811.839450,...,908.200957,2079.366029,125.691388,927.016746,236.937799,2035.413876,316.172249,1610.660287,1713.045455,41.389952
std,0.0,10.638977,5.542935e+04,28613.192166,28673.355071,7697.271774,7769.920063,8465.069130,7224.272606,9010.008699,...,496.485261,1355.396077,100.561340,355.422412,122.931776,711.751067,348.639423,492.225616,512.822799,42.670267
min,2018.0,1.000000,5.247250e+05,255167.000000,269558.000000,26339.000000,20896.000000,18030.000000,22732.000000,30162.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2018.0,3.000000,7.162515e+05,352927.250000,364404.500000,39854.750000,40343.250000,43786.000000,44683.500000,43703.500000,...,605.250000,1193.250000,67.000000,689.000000,149.000000,1623.000000,198.000000,1316.250000,1446.250000,23.000000
50%,2018.0,6.000000,7.450760e+05,366787.500000,377851.000000,43875.500000,44480.500000,48092.000000,48712.000000,48846.000000,...,783.000000,1671.500000,97.000000,870.000000,212.000000,1901.500000,260.500000,1518.500000,1690.000000,30.000000
75%,2018.0,13.000000,7.801325e+05,383569.000000,396738.500000,49813.500000,49591.500000,53551.250000,53598.750000,54074.750000,...,1060.000000,2543.500000,147.000000,1124.750000,286.000000,2294.750000,343.000000,1818.250000,1925.000000,44.750000
max,2018.0,53.000000,1.062305e+06,534782.000000,527523.000000,73046.000000,72738.000000,78884.000000,74328.000000,91993.000000,...,5829.000000,11597.000000,851.000000,3196.000000,985.000000,9797.000000,4158.000000,6236.000000,7216.000000,488.000000

In [32]:
col_range = range(4,307,1)

demograhics_by_state = demograhics_df.groupby(
   [1]
).aggregate(
    {
        col_range: 'sum'  
    }
)

In [30]:
display(demograhics_by_state)

#STATEFUL EXPORT - WILL OVERWRITE EXISTING DEMOGRAPHICS_BY_STATE
#demograhics_by_state.to_csv("demographics_by_state.csv", index=True, encoding='utf-8-sig')

   (4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, ...)  \
                                                                                                                                                                                                                                                                                                                                                                                                                   0
1
AK                                               2018
AL                                              14126
AR                                               8072
AZ                                              18162
CA                                             106954
CO                                              14126
CT                                              10090
DC                                               2018
DE                                               2018
FL                                              54486
GA                                              28252
HI                                               4036
IA                                               8072
ID                                               4036
IL                                              36324
IN                                              18162
KS                                               8072
KY                                              12108
LA                                              12108
MA                                              18162
MD                                              16144
ME                                               4036
MI                                              28252
MN                                              16144
MO                                              16144
MS                                               8072
MT                                               2018
NC                                              26234
ND                                               2018
NE                                               6054
NH                                               4036
NJ                                              24216
NM                                               6054
NV                                               8072
NY                                              54486
OH                                              32288
OK                                              10090
OR                                              10090
PA                                              36324
RI                                               4036
SC                                              14126
SD                                               2018
TN                                              18162
TX                                              72648
UT                                               8072
VA                                              22198
VT                                               2018
WA                                              20180
WI                                              16144
WV                                               6054
WY                                               2018

                                                                               \
     2           3           4           5          6          7          8
1
AK     1    737438.0    382952.0    354486.0    52173.0    52544.0    49747.0
AL    28   4887871.0   2369271.0   2518600.0   288589.0   290369.0   321430.0
AR    10   3013825.0   1476680.0   1537145.0   188092.0   192523.0   203502.0
AZ    45   7171646.0   3565129.0   3606517.0   434032.0   441613.0   488738.0
CA  1431  39557045.0  19673553.0  19883492.0  2428493.0  2398894.0  2646096.0
CO    28   5695564.0   2864761.0   2830803.0   335642.0   352145.0   364535.0
CT    15   3572665.0   1740533.0   1832132.0   181224.0   191879.0   224026.0
DC     1    702455.0    334208.0    368247.0    45490.0    32857.0    33386.0
DE     1    967171.0    467924.0    499247.0    54335.0    51828.0    62410.0
FL   378  21299325.0  10404676.0  10894649.0  1135392.0  1127602.0  1244592.0
GA   105  10519475.0   5120290.0   5399185.0   645488.0   683042.0   739018.0
HI     3   1420491.0    710702.0    709789.0    87437.0    84434.0    84576.0
IA    10   3156145.0   1564888.0   1591257.0   197883.0   197454.0   215222.0
ID     3   1754208.0    882158.0    872050.0   113693.0   123959.0   129947.0
IL   171  12741080.0   6266062.0   6475018.0   759456.0   762237.0   838140.0
IN    45   6691878.0   3295973.0   3395905.0   417774.0   430155.0   451395.0
KS    10   2911510.0   1449745.0   1461765.0   186990.0   190475.0   208695.0
KY    21   4468402.0   2199021.0   2269381.0   273489.0   279978.0   285833.0
LA    21   4659978.0   2276530.0   2383448.0   301857.0   297439.0   317930.0
MA    45   6902149.0   3350887.0   3551262.0   357223.0   369278.0   392598.0
MD    36   6042718.0   2930350.0   3112368.0   361435.0   364571.0   385477.0
ME     3   1338404.0    655734.0    682670.0    63410.0    67860.0    72549.0
MI   105   9995915.0   4926816.0   5069099.0   569183.0   587011.0   619055.0
MN    36   5611179.0   2793980.0   2817199.0   354932.0   360713.0   370367.0
MO    36   6126452.0   3003165.0   3123287.0   370408.0   373737.0   401199.0
MS    10   2986530.0   1446829.0   1539701.0   177761.0   191591.0   216172.0
MT     1   1062305.0    534782.0    527523.0    61688.0    61732.0    67916.0
NC    91  10383620.0   5052244.0   5331376.0   597192.0   620626.0   679947.0
ND     1    760077.0    391222.0    368855.0    52175.0    50804.0    47274.0
NE     6   1929268.0    961213.0    968055.0   131156.0   129861.0   136769.0
NH     3   1356458.0    669442.0    687016.0    62857.0    68935.0    76872.0
NJ    78   8908520.0   4350386.0   4558134.0   517694.0   517905.0   573092.0
NM     6   2095428.0   1039641.0   1055787.0   118494.0   127795.0   151078.0
NV    10   3034392.0   1522374.0   1512018.0   184539.0   188880.0   201625.0
NY   378  19542209.0   9491313.0  10050896.0  1139842.0  1078979.0  1154737.0
OH   136  11689442.0   5732095.0   5957347.0   693129.0   691126.0   752239.0
OK    15   3943079.0   1950076.0   1993003.0   258036.0   262116.0   277994.0
OR    15   4190713.0   2079943.0   2110770.0   230515.0   236914.0   253861.0
PA   171  12807060.0   6271620.0   6535440.0   700416.0   708163.0   775827.0
RI     3   1057315.0    515900.0    541415.0    54430.0    56691.0    55343.0
SC    28   5084127.0   2468707.0   2615420.0   287356.0   307540.0   323598.0
SD     1    882235.0    445271.0    436964.0    60427.0    58765.0    61566.0
TN    45   6770010.0   3302191.0   3467819.0   404439.0   413172.0   434765.0
TX   666  28701845.0  14250184.0  14451661.0  2010781.0  1984419.0  2171522.0
UT    10   3161105.0   1592457.0   1568648.0   250194.0   257110.0   270952.0
VA    66   8517685.0   4190738.0   4326947.0   502102.0   514779.0   534414.0
VT     1    626299.0    308118.0    318181.0    28810.0    32019.0    33938.0
WA    55   7535591.0   3766859.0   3768732.0   458194.0   466487.0   468155.0
WI    36   5813568.0   2891282.0   2922286.0   330651.0   342754.0   374768.0
WV     6   1805832.0    894657.0    911175.0    93922.0    97203.0   107390.0
WY     1    577737.0    292619.0    285118.0    35395.0    34937.0    40645.0

                          ...                                               \
          9          10   ...      297       298     299      300      301
1                         ...
AK    48514.0    49107.0  ...    933.0    1960.0   193.0   1128.0    270.0
AL   332209.0   317810.0  ...   4214.0    9328.0   648.0   4321.0    859.0
AR   208021.0   199748.0  ...   3001.0    5794.0  1128.0   2618.0    612.0
AZ   477306.0   489653.0  ...   9274.0   17512.0   981.0   8228.0   2136.0
CA  2557470.0  2710448.0  ...  54300.0  124657.0  5322.0  43821.0  14199.0
CO   368833.0   374122.0  ...  11159.0   25710.0  1052.0   8848.0   2617.0
CT   242294.0   239846.0  ...   3234.0    9103.0   710.0   5225.0   1435.0
DC    37568.0    52978.0  ...   1284.0    5684.0   212.0   1148.0    611.0
DE    59345.0    59553.0  ...   1237.0    2951.0   736.0   1518.0    322.0
FL  1234024.0  1255590.0  ...  35742.0   78102.0  2872.0  35341.0   6875.0
GA   754377.0   719378.0  ...  11714.0   29275.0  1787.0  12307.0   3078.0
HI    77860.0    90595.0  ...   1964.0    3291.0   262.0   1805.0    530.0
IA   220659.0   220135.0  ...   2953.0    6307.0   495.0   3651.0    801.0
ID   127012.0   115850.0  ...   2403.0    4533.0   232.0   2303.0    484.0
IL   835845.0   839026.0  ...  12923.0   38819.0  2332.0  16779.0   4331.0
IN   459222.0   465439.0  ...   6331.0   12859.0   902.0   7245.0   1648.0
KS   204915.0   209009.0  ...   3291.0    7062.0   651.0   3612.0    723.0
KY   288944.0   300744.0  ...   3790.0    8124.0   695.0   4018.0    902.0
LA   308126.0   308893.0  ...   4973.0   11874.0   652.0   4641.0   1237.0
MA   457341.0   492981.0  ...   7159.0   21534.0  1267.0  10686.0   3153.0
MD   379728.0   384168.0  ...   6504.0   20656.0  1264.0   8297.0   2160.0
ME    77325.0    73878.0  ...   1716.0    3459.0   213.0   2173.0    490.0
MI   660528.0   690292.0  ...   7943.0   21479.0  1592.0  11391.0   2327.0
MN   356388.0   359550.0  ...   6814.0   16698.0  1205.0   7504.0   1960.0
MO   391923.0   406398.0  ...   6299.0   13864.0  1495.0   7502.0   1627.0
MS   219044.0   204679.0  ...   2406.0    4601.0   341.0   2183.0    601.0
MT    67386.0    67822.0  ...   1982.0    3748.0   144.0   1797.0    395.0
NC   701383.0   682328.0  ...  11496.0   24165.0  1795.0  12528.0   2870.0
ND    46455.0    62590.0  ...   1091.0    1848.0   134.0   1125.0    160.0
NE   132609.0   132433.0  ...   2244.0    4626.0   369.0   2652.0    554.0
NH    91832.0    85214.0  ...   1429.0    3660.0   216.0   2301.0    609.0
NJ   556312.0   554274.0  ...   9105.0   29132.0  1494.0  13909.0   3853.0
NM   142717.0   138863.0  ...   2330.0    4579.0   228.0   1835.0    581.0
NV   182398.0   180376.0  ...   4412.0    8841.0   494.0   4378.0    714.0
NY  1202251.0  1294057.0  ...  33532.0   61496.0  3000.0  26900.0   8262.0
OH   773272.0   752641.0  ...  10354.0   23824.0  2251.0  13358.0   3045.0
OK   270953.0   266367.0  ...   4268.0    9549.0   649.0   4431.0    763.0
OR   252056.0   264987.0  ...   6362.0   12303.0   700.0   5828.0   1617.0
PA   815621.0   812406.0  ...      0.0       0.0     0.0      0.0      0.0
RI    74635.0    75521.0  ...   1093.0    2992.0   203.0   1727.0    405.0
SC   340480.0   332798.0  ...   5460.0   10387.0   656.0   5792.0   1167.0
SD    59836.0    58791.0  ...   1095.0    1943.0   151.0   1135.0    236.0
TN   439465.0   437346.0  ...   5238.0   10301.0  1412.0   6310.0   1270.0
TX  2069341.0  1988685.0  ...  30344.0   68608.0  4917.0  27792.0   7075.0
UT   250173.0   260774.0  ...   5280.0   10442.0   499.0   4296.0   1135.0
VA   564667.0   579716.0  ...   9761.0   31126.0  1391.0  10589.0   3015.0
VT    42229.0    43479.0  ...    759.0    2144.0    87.0   1161.0    402.0
WA   452515.0   475177.0  ...  11034.0   21668.0  1105.0   9741.0   2821.0
WI   378566.0   394807.0  ...   4838.0   11473.0  1070.0   7164.0   1654.0
WV   112776.0   113760.0  ...   1384.0    2798.0   233.0   1408.0    264.0
WY    40744.0    32880.0  ...   1176.0    2286.0   102.0   1043.0    185.0


         302      303      304      305     306
1
AK    2633.0    569.0   2156.0   1823.0    40.0
AL   10634.0   1146.0   8818.0  11016.0   184.0
AR    7644.0    810.0   5749.0   6643.0   116.0
AZ   18069.0   1924.0  12546.0  11245.0   289.0
CA  110681.0  24907.0  86055.0  74526.0  2946.0
CO   16216.0   2867.0  13567.0  14257.0   280.0
CT   10984.0   1718.0   8578.0   9496.0   156.0
DC    2094.0    359.0   2639.0   4186.0    84.0
DE    2694.0    436.0   2120.0   2211.0    52.0
FL   60393.0   8559.0  40349.0  47573.0   736.0
GA   24677.0   3186.0  20287.0  21281.0   397.0
HI    3635.0    522.0   3777.0   3488.0    48.0
IA    8558.0   1447.0   7143.0   9090.0   141.0
ID    5172.0    790.0   3681.0   3437.0    86.0
IL   34012.0   4885.0  28468.0  32398.0   482.0
IN   16710.0   2143.0  13367.0  16296.0   183.0
KS    8305.0   1060.0   6123.0   7831.0   148.0
KY   12869.0   1324.0   8044.0   9444.0   420.0
LA   12381.0   1439.0   9546.0   9727.0   138.0
MA   19036.0   3395.0  17448.0  18040.0   580.0
MD   16547.0   2116.0  11792.0  13791.0   252.0
ME    4780.0    891.0   4173.0   3699.0    88.0
MI   26787.0   3398.0  19950.0  23127.0   847.0
MN   16514.0   2893.0  11707.0  15709.0   266.0
MO   31003.0   2181.0  12595.0  15535.0  1751.0
MS    6198.0    688.0   5539.0   6380.0   112.0
MT    3671.0   1201.0   3524.0   3195.0    75.0
NC   23525.0   3756.0  20804.0  23622.0   452.0
ND    2030.0    457.0   2110.0   2475.0    47.0
NE    5673.0    907.0   4493.0   5825.0    94.0
NH    3698.0    797.0   3701.0   3740.0    68.0
NJ   27544.0   3612.0  20950.0  23763.0   337.0
NM    5113.0    700.0   4276.0   4065.0    68.0
NV    7155.0   1527.0   6548.0   4533.0   111.0
NY   57598.0  12683.0  53198.0  58225.0  1244.0
OH   29207.0   3815.0  24111.0  27388.0   347.0
OK   11105.0   1150.0   8005.0   8998.0   120.0
OR   13600.0   1863.0  11387.0  10100.0   332.0
PA       0.0      0.0      0.0      0.0     0.0
RI    3280.0    552.0   3091.0   2896.0    49.0
SC   10327.0   1667.0  10425.0  11354.0   220.0
SD    2358.0    690.0   2441.0   2770.0    45.0
TN   14180.0   2323.0  11274.0  12643.0   255.0
TX   68173.0   7306.0  54186.0  51336.0  1043.0
UT    7877.0   1128.0   5707.0   5023.0    94.0
VA   20088.0   2993.0  17775.0  21857.0   433.0
VT    2090.0    491.0   1929.0   2057.0    48.0
WA   20771.0   2973.0  17149.0  17195.0   565.0
WI   15670.0   2733.0  14596.0  14597.0   303.0
WV    4876.0    740.0   3547.0   4321.0    61.0
WY    1968.0    443.0   1812.0   1826.0    68.0

[51 rows x 306 columns]

In [37]:
demograhics_df = pd.read_csv("demographics_by_state.csv", encoding='utf-8-sig')

display(demograhics_df)

,Unnamed: 0,0,1,3,4,5,6,7,8,9,...,297,298,299,300,301,302,303,304,305,306
0,Topic,Year,State,People,People,People,People,People,People,People,...,Business,Business,Business,Business,Business,Business,Business,Business,Business,Business
1,Subject,Election Year,State Code,Sex and Age,Sex and Age,Sex and Age,Sex and Age,Sex and Age,Sex and Age,Sex and Age,...,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments,Total Establishments
2,Title,Election Year,State Abbreviation,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,...,Real estate and rental and leasing,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste managemen...,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified
3,NaN,2018,AK,737438,382952,354486,52173,52544,49747,48514,...,933,1960,193,1128,270,2633,569,2156,1823,40
4,NaN,2018,AL,4887871,2369271,2518600,288589,290369,321430,332209,...,4214,9328,648,4321,859,10634,1146,8818,11016,184
5,NaN,2018,AR,3013825,1476680,1537145,188092,192523,203502,208021,...,3001,5794,1128,2618,612,7644,810,5749,6643,116
6,NaN,2018,AZ,7171646,3565129,3606517,434032,441613,488738,477306,...,9274,17512,981,8228,2136,18069,1924,12546,11245,289
7,NaN,2018,CA,39557045,19673553,19883492,2428493,2398894,2646096,2557470,...,54300,124657,5322,43821,14199,110681,24907,86055,74526,2946
8,NaN,2018,CO,5695564,2864761,2830803,335642,352145,364535,368833,...,11159,25710,1052,8848,2617,16216,2867,13567,14257,280
9,NaN,2018,CT,3572665,1740533,1832132,181224,191879,224026,242294,...,3234,9103,710,5225,1435,10984,1718,8578,9496,156
10,NaN,2018,DC,702455,334208,368247,45490,32857,33386,37568,...,1284,5684,212,1148,611,2094,359,2639,4186,84
11,NaN,2018,DE,967171,467924,499247,54335,51828,62410,59345,...,1237,2951,736,1518,322,2694,436,2120,2211,52
12,NaN,2018,FL,21299325,10404676,10894649,1135392,1127602,1244592,1234024,...,35742,78102,2872,35341,6875,60393,8559,40349,47573,736
13,NaN,2018,GA,10519475,5120290,5399185,645488,683042,739018,754377,...,11714,29275,1787,12307,3078,24677,3186,20287,21281,397
14,NaN,2018,HI,1420491,710702,709789,87437,84434,84576,77860,...,1964,3291,262,1805,530,3635,522,3777,3488,48
15,NaN,2018,IA,3156145,1564888,1591257,197883,197454,215222,220659,...,2953,6307,495,3651,801,8558,1447,7143,9090,141
16,NaN,2018,ID,1754208,882158,872050,113693,123959,129947,127012,...,2403,4533,232,2303,484,5172,790,3681,3437,86
17,NaN,2018,IL,12741080,6266062,6475018,759456,762237,838140,835845,...,12923,38819,2332,16779,4331,34012,4885,28468,32398,482
18,NaN,2018,IN,6691878,3295973,3395905,417774,430155,451395,459222,...,6331,12859,902,7245,1648,16710,2143,13367,16296,183
19,NaN,2018,KS,2911510,1449745,1461765,186990,190475,208695,204915,...,3291,7062,651,3612,723,8305,1060,6123,7831,148
20,NaN,2018,KY,4468402,2199021,2269381,273489,279978,285833,288944,...,3790,8124,695,4018,902,12869,1324,8044,9444,420
21,NaN,2018,LA,4659978,2276530,2383448,301857,297439,317930,308126,...,4973,11874,652,4641,1237,12381,1439,9546,9727,138
22,NaN,2018,MA,6902149,3350887,3551262,357223,369278,392598,457341,...,7159,21534,1267,10686,3153,19036,3395,17448,18040,580
23,NaN,2018,MD,6042718,2930350,3112368,361435,364571,385477,379728,...,6504,20656,1264,8297,2160,16547,2116,11792,13791,252
24,NaN,2018,ME,1338404,655734,682670,63410,67860,72549,77325,...,1716,3459,213,2173,490,4780,891,4173,3699,88
25,NaN,2018,MI,9995915,4926816,5069099,569183,587011,619055,660528,...,7943,21479,1592,11391,2327,26787,3398,19950,23127,847
26,NaN,2018,MN,5611179,2793980,2817199,354932,360713,370367,356388,...,6814,16698,1205,7504,1960,16514,2893,11707,15709,266
27,NaN,2018,MO,6126452,3003165,3123287,370408,373737,401199,391923,...,6299,13864,1495,7502,1627,31003,2181,12595,15535,1751
28,NaN,2018,MS,2986530,1446829,1539701,177761,191591,216172,219044,...,2406,4601,341,2183,601,6198,688,5539,6380,112
29,NaN,2018,MT,1062305,534782,527523,61688,61732,67916,67386,...,1982,3748,144,1797,395,3671,1201,3524,3195,75
30,NaN,2018,NC,10383620,5052244,5331376,597192,620626,679947,701383,...,11496,24165,1795,12528,2870,23525,3756,20804,23622,452
31,NaN,2018,ND,760077,391222,368855,52175,50804,47274,46455,...,1091,1848,134,1125,160,2030,457,2110,2475,47
32,NaN,2018,NE,1929268,961213,968055,131156,129861,136769,132609,...,2244,4626,369,2652,554,5673,907,4493,5825,94
33,NaN,2018,NH,1356458,669442,687016,62857,68935,76872,91832,...,1429,3660,216,2301,609,3698,797,3701,3740,68
34,NaN,2018,NJ,8908520,4350386,4558134,517694,517905,573092,556312,...,9105,29132,1494,13909,3853,27544,3612,20950,23763,337
35,NaN,2018,NM,2095428,1039641,1055787,118494,127795,151078,142717,...,2330,4579,228,1835,581,5113,700,4276,4065,68
36,NaN,2018,NV,3034392,1522374,1512018,184539,188880,201625,182398,...,4412,8841,494,4378,714,7155,1527,6548,4533,111
37,NaN,2018,NY,19542209,9491313,10050896,1139842,1078979,1154737,1202251,...,33532,61496,3000,26900,8262,57598,12683,53198,58225,1244
38,NaN,2018,OH,11689442,5732095,5957347,693129,691126,752239,773272,...,10354,23824,2251,13358,3045,29207,3815,24111,27388,347
39,NaN,2018,OK,3943079,1950076,1993003,258036,262116,277994,270953,...,4268,9549,649,4431,763,11105,1150,8005,8998,120
40,NaN,2018,OR,4190713,2079943,2110770,230515,236914,253861,252056,...,6362,12303,700,5828,1617,13600,1863,11387,10100,332
41,NaN,2018,PA,12807060,6271620,6535440,700416,708163,775827,815621,...,0,0,0,0,0,0,0,0,0,0
42,NaN,2018,RI,1057315,515900,541415,54430,56691,55343,74635,...,1093,2992,203,1727,405,3280,552,3091,2896,49
43,NaN,2018,SC,5084127,2468707,2615420,287356,307540,323598,340480,...,5460,10387,656,5792,1167,10327,1667,10425,11354,220
44,NaN,2018,SD,882235,445271,436964,60427,58765,61566,59836,...,1095,1943,151,1135,236,2358,690,2441,2770,45
45,NaN,2018,TN,6770010,3302191,3467819,404439,413172,434765,439465,...,5238,10301,1412,6310,1270,14180,2323,11274,12643,255
46,NaN,2018,TX,28701845,14250184,14451661,2010781,1984419,2171522,2069341,...,30344,68608,4917,27792,7075,68173,7306,54186,51336,1043
47,NaN,2018,UT,3161105,1592457,1568648,250194,257110,270952,250173,...,5280,10442,499,4296,1135,7877,1128,5707,5023,94
48,NaN,2018,VA,8517685,4190738,4326947,502102,514779,534414,564667,...,9761,31126,1391,10589,3015,20088,2993,17775,21857,433
49,NaN,2018,VT,626299,308118,318181,28810,32019,33938,42229,...,759,2144,87,1161,402,2090,491,1929,2057,48
50,NaN,2018,WA,7535591,3766859,3768732,458194,466487,468155,452515,...,11034,21668,1105,9741,2821,20771,2973,17149,17195,565
51,NaN,2018,WI,5813568,2891282,2922286,330651,342754,374768,378566,...,4838,11473,1070,7164,1654,15670,2733,14596,14597,303
52,NaN,2018,WV,1805832,894657,911175,93922,97203,107390,112776,...,1384,2798,233,1408,264,4876,740,3547,4321,61
53,NaN,2018,WY,577737,292619,285118,35395,34937,40645,40744,...,1176,2286,102,1043,185,1968,443,1812,1826,68